body{
    height: 95vh;
    width: 95;
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
    color: rgb(3, 110, 57);
    background-color: rgb(53, 53, 53);
}

.titulo {
    display: flex;
    justify-content: space-between;
    justify-items: center;
    flex-direction: unset;
    align-items: center;
}

.botao {
    width: 100px;
    height: 20px;
    margin-left: 25px;
}