body{


}

body{
    height: 95vh;
    width: 95;
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
    color: rgb(3, 110, 57);
    background-color: rgb(53, 53, 53);
}

.botao{
    display: flex;
    margin-right: 30%;
}